.clients {
  &__list {
    display: flex;
    margin-top: 50px;
    gap: 30px;
  }

  &__item {
    flex-basis: calc((100% - 5 * 30px) / 6);
  }

  &__item-link {
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    outline: transparent;
    color: var(--icon-color);
    transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
    }
  }

  &__item-icon {
    fill: currentColor;
  }
}
