.preview {
  &__ovarlay {
    max-width: 1600px;
    margin: 0 auto;
    padding: 118px 0;
    
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/preview-bg-480.jpg') no-repeat center/cover, #c4c4c4;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/preview-bg-480@2x.jpg') no-repeat center/cover, #c4c4c4;
    }

    @media screen and (min-width: $tablet) {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/preview-bg-768.jpg') no-repeat center/cover, #c4c4c4;

      @media screen and (min-width: $tablet),
        (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url('../images/preview-bg-768@2x.jpg') no-repeat center/cover, #c4c4c4;
      }
    }

    @media screen and (min-width: $desctop) {
      padding: 200px 0;
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/preview-bg-1200.jpg') no-repeat center/cover, #c4c4c4;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url('../images/preview-bg-1200@2x.jpg') no-repeat center/cover,
          #c4c4c4;
      }
    }
  }

  &__container {
    max-width: 696px;
  }

  &__title {
    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desctop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    margin-top: 30px;
  }
}
