body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--primary-white-color);
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobail) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desctop) {
    width: 1200px;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Section */

.section {
  padding: 60px 0;

  @media screen and (min-width: $desctop) {
    padding: 94px 0;
  }
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

//  Cards list

.grid {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    @media screen and (min-width: $tablet) {
      width: calc((100% - 1 * 30px) / 2);
    }

    @media screen and (min-width: $desctop) {
      width: calc((100% - 3 * 30px) / 4);
    }

    &:not(:last-child) {
      @media screen and (max-width: $pre-tablet) {
        margin-bottom: 30px;
      }
    }
  }
}
